{% extends 'base.j2' %}

{% block content %}
<h2 class="m-2">
    About Suukin's Selections
</h2>
<hr>
<p class="w-100">
    Originally created for a high school computer science project, I have since developed it further into a complete site for displaying game reviews.

Since the inception of this website I have become a 3rd year Computer Science and Mathematics student.

In the future I plan to have a more general blog for posts related to non-game related topics.
</p>
<hr>
<div>
    <h2 class="m-2">
        Guides and Resources:
    </h2>
    <hr>
    <li><a href="https://github.com/Suuukin/review_website">GitHub for the Website</a></li>
    <li><a href="https://nik-davis.github.io/posts/2019/steam-data-collection/">Steam Data Collection</a></li>
    <li><a
            href="https://www.digitalocean.com/community/tutorials/how-to-make-a-web-application-using-flask-in-python-3">Flask
            Application</a></li>
    <li><a href="https://www.freecodecamp.org/">Tutorials For HTML, JavaScript, and CSS</a></li>
    <li>Official Documentation for <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a>, <a href="https://www.sqlite.org/">SQLite</a>, <a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja</a></li>
</div>
{% endblock %}
