{% extends 'base.html' %}

{% block content %}
<h2 class="m-2">
    About Me and Suukin's Selections
</h2>
<hr>
<p class="w-100">
    This website was created for my CLC 12 Passion Project, and to conveniently display my game reviews.

    As of now I only have my reviews of Steam Next Fest demos, however, in the future I will create reviews for full
    games.
</p>
<hr>
<div>
    <h2 class="m-2">
        Guides and Resources Used for This Website:
    </h2>
    <hr>
    <li><a href="https://github.com/Suuukin/review_website">GitHub for the Website</a></li>
    <li><a href="https://nik-davis.github.io/posts/2019/steam-data-collection/">Steam Data Collection</a></li>
    <li><a
            href="https://www.digitalocean.com/community/tutorials/how-to-make-a-web-application-using-flask-in-python-3">Flask
            Application</a></li>
    <li><a href="https://www.freecodecamp.org/">Tutorials For HTML, JavaScript, and CSS</a></li>
    <li>Official Documentation for <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a>, <a href="https://www.sqlite.org/">SQLite</a>, <a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja</a></li>
</div>
{% endblock %}