{% extends 'base.html' %}

{% block content %}
<h1>Reviews</h1>
{% for post in posts %}
    {% if post["store"] == "steam" %}
        {% set id = post["app_id"] %}
        {% set image = post["extra"]["capsule_image"] %}
        {% set genres = post["genres"] %}
    {% else %}
        {% set id = post["id"] %}
        {% set image = None %}
        {% set genres = None %}
    {% endif %}
    {% set tags = post["tags"] %}

    <div>
        <a href=" {{url_for('post', post_id=id, store=post['store'])}}"><img
            src="{{image}}" alt="Game Image"></a>
        <a href=" {{url_for('post', post_id=id, store=post['store'])}}"><h2 
            class="p-2" style="display: inline-block">{{ post['title'] }}</h2></a>
    </div>

    {% if genres != None %}
        {% for description in genres %}
            <span class="badge badge-secondary">{{description}}</span>
        {% endfor %}
    {% endif %}

    {% if tags %}
        <div class="vr"></div>
        {% for tag in tags %}
            <span class="badge {{tag['color']}}">{{tag['title']}}</span>
        {% endfor %}
    {% endif %}

    <span class="edit badge badge-primary float-end">{{ post['created'] }}</span>
    <span></span>

    {% if config['ENV'] != 'production' %}
        <a href="{{ url_for('edit', id=id, store=post['store']) }}">
            <span class="badge badge-warning float-end">Edit</span>
        </a>
    {% endif %}

    <hr>
{% endfor %}
{% endblock %}