{% extends 'base.j2' %}
{% from '_macros.j2' import tag_badges %}

{% block content %}
    <div>
        <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
        {% if post["store"] == "steam" %}
        <a href="{{store_url}}"><img class="store_image" src="{{ url_for('static', filename='images/steam_logo.svg') }}" alt="Steam Store Link"></a>
        {% else %}
        <img class="store_image" src="{{ url_for('static', filename='images/store.svg') }}" alt="Store Link">
        {% endif %}
        <span class="badge badge-primary">{{ post['created'] }}</span>
        {% if tags %}
        {{ tag_badges(tags) }}
        {% endif %}
        <p>{{ post_content|safe }}</p>
    </div>
{% endblock %}

{% block right_panel %}
<div class="right_panel p-3">
</div>
{% endblock %}
